@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
/* import는 import끼리 안 모아두면 에러발생 */
/* 영문 : noto sans 고딕 명조 포함 20개 이상, 한글: nanum 관련 고딕,명조 포함 15개 이상  */

.roboto{font-family: "Roboto", sans-serif;}
.oswald{font-family: "Oswald", sans-serif;}
.montserrat{font-family: "Montserrat", sans-serif;}
.notoserif{font-family: "Noto Serif", serif;}
.notosans{font-family: "Noto Sans", sans-serif;}
.vendsans{font-family: "Vend Sans", sans-serif;}
.opensans{font-family: "Open Sans", sans-serif;}
.libertinusserif{font-family: "Libertinus Serif Display", system-ui;}
.interfont{font-family: "Inter", sans-serif;}
.tasaorb{font-family: "TASA Orbiter", sans-serif;}
.notosansdp{font-family: "Noto Sans Display", sans-serif;}
.notosansmono{font-family: "Noto Sans Mono", monospace;}
.lato{font-family: "Lato", sans-serif;}
.tasaex{font-family: "TASA Explorer", sans-serif;}
.robotomono{font-family: "Roboto Mono", monospace;}
.stsc{font-family: "Story Script", sans-serif;}
.asimovian{font-family: "Asimovian", sans-serif;}
.nunitosans{font-family: "Nunito Sans", sans-serif;}
.dmsans{font-family: "DM Sans", sans-serif;}
.ptsans{font-family: "PT Sans", sans-serif;}
.worksans{font-family: "Work Sans", sans-serif;}
.firasans{font-family: "Fira Sans", sans-serif;}
.ptserif{font-family: "PT Serif", serif;}
.breeserif{font-family: "Bree Serif", serif;}
.robotoserif{font-family: "Roboto Serif", serif;}
.inriaserif{font-family: "Inria Serif", serif;}
.youngserif{font-family: "Young Serif", serif;}
.raleway{font-family: "Raleway", sans-serif;}
.ubuntu{font-family: "Ubuntu", sans-serif;}
.epundasans{font-family: "Epunda Sans", sans-serif;}
.josefinsans{font-family: "Josefin Sans", sans-serif;}
.publicsans{font-family: "Public Sans", sans-serif;}
.smoochsans{font-family: "Smooch Sans", sans-serif;}
.natasans{font-family: "Nata Sans", sans-serif;}
.albertsans{font-family: "Albert Sans", sans-serif;}
.encodesans{font-family: "Encode Sans", sans-serif;}
.anton{font-family: "Anton", sans-serif;}

.notosanskr{font-family: "Noto Sans KR", sans-serif;}
.nanumpen{font-family: "Nanum Pen Script", cursive;}
.notoserifkr{font-family: "Noto Serif KR", serif;}
.nanumgoth{font-family: "Nanum Gothic", sans-serif;}
.nanummj{font-family: "Nanum Myeongjo", serif;}
.nanumgc{font-family: "Nanum Gothic Coding", monospace;}
.nanumbs{font-family: "Nanum Brush Script", cursive;}
.bhans{font-family: "Black Han Sans", sans-serif;}
.grandiflora{font-family: "Grandiflora One", cursive;}
.bwpic{font-family: "Black And White Picture", system-ui;}
.orbitf{font-family: "Orbit", sans-serif;}
.diphylleia{font-family: "Diphylleia", serif;}
.kirhae{font-family: "Kirang Haerang", system-ui;}
.gasoek{font-family: "Gasoek One", sans-serif;}
.begalfo{font-family: "Bagel Fat One", system-ui;}
.poorstory{font-family: "Poor Story", system-ui;}
.yeonsung{font-family: "Yeon Sung", system-ui;}
.cutefont{font-family: "Cute Font", sans-serif;}
.stylishkr{font-family: "Stylish", sans-serif;}
.esdokdo{font-family: "East Sea Dokdo", sans-serif;}
.songmyung{font-family: "Song Myung", serif;}
.dokdof{font-family: "Dokdo", system-ui;}
.gaegu{font-family: "Gaegu", sans-serif;}
.gugi{font-family: "Gugi", sans-serif;}
.himelody{font-family: "Hi Melody", sans-serif;}
.gowund{font-family: "Gowun Dodum", sans-serif;}
.gamjaf{font-family: "Gamja Flower", sans-serif;}
.hahmlet{font-family: "Hahmlet", serif;}
.dongle{font-family: "Dongle", sans-serif;}
.gowunb{font-family: "Gowun Batang", serif;}
.juaf{font-family: "Jua", sans-serif;}
.dohyeon{font-family: "Do Hyeon", sans-serif;}