@charset "utf-8";

/* common */
/* root 가상클래스 설정 */
/* 웹문서에 공통으로 사용될 속성 미리 변수로 선언 후 적용 가능 */
/* 값으로 사용 시 var(변수) 형식으로 사용 */
:root {
    --font-high: #111;
    --font-medium: #666;
    --font-low: #999;
    --point-color: #4e688d;
    --bg-line: #ebebeb;
}
/* 문서 전체 스타일 */
html {
    color: #333;
    font-size: 62.5%;
}
/* 페이지 영역 폰트 설정 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
}
/* 최소 너비 설정 */
.wrap {
    min-width: 1120px;
}
/* 공통 너비 설정용 클래스, 가운데 정렬 */
.inner {
    width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
}

/* screen reader only */
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    overflow: hidden;
    clip-path: inset(50%);
}

/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--bg-line);
    background: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}
/* logo, gnb  */
header .inner {
    /* 메뉴 영역플렉스 */
    display: flex;
    /* 플렉스 아이템 중앙 정렬 */
    align-items: center;
    /* 높이값 상속 */
    height: 100%; 
}
/* 로고 스타일링 */
header .logo {
    margin-right: 26px;
    padding-right: 20px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    border-right: 1px solid var(--bg-line);
}
/* gnb메뉴 플렉스 */
.gnb ul {
    display: flex;
}
/* 마지막 li 제외 margin-right */
.gnb li:not(:last-child) {
    margin-right: 20px;
}
/* gnb메뉴 a태그 */
.gnb li a {
    /* 컨텐츠 영역만큼 자리 차지 */
    display: inline-block;
    /* 위치 기준값 */
    position: relative;
    padding: 5px 0; 
    color: #767676;
    font-weight: 500;
}
/* 가상요소 방식으로 요소 추가 */
.gnb li a::after {
    content: "";
    /* 위치기준값에 붙어있도록 포지션 */
    position: absolute;
    left: 0;
    bottom: 0;
    /* 너비 0으로 설정 */
    width: 0;
    /* 눈에 보이게 높이값 변경 */
    height: 1px;
    background-color: #767676;
    /* 트랜지션 : 너비 변경 */
    transition: width 300ms;
}
/* 색 변경 */
.gnb .active a {
    color: var(--point-color);
}
/* 가상요소 방식으로 아래에 선추가 */
.gnb .active a::after {
    width: 100%;
    background-color: var(--point-color);
}
/* hover 시 가상요소 너비를 100%로 */
.gnb li a:hover::after {
    width: 100%;
}
/* gnb 우측 메뉴 */
.header-utils {
    margin-left: auto;
    font-size: 14px;
}
/* 메뉴 스타일 */
.header-utils .btn-all-menu {
    /* 위치기준값 */
    position: relative;
    padding-left: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    font-weight: 600;
}
/* 아이콘과 위아래로 가상 메뉴 스타일  */
.header-utils .btn-all-menu::before,
.header-utils .btn-all-menu i,
.header-utils .btn-all-menu::after {
    /* 위치 설정 */
    position: absolute;
    left: 0;
    top: 50%;
    width: 12px;
    height: 1px;
    background: #aaa;
}
/* 가상요소로 위에 선추가 */
.header-utils .btn-all-menu::before {
    content: "";
    margin-top: -4px;
}
/* 가상요소로 아래 선추가 */
.header-utils .btn-all-menu::after {
    content: "";
    margin-top: 4px;
}
/* 로그인 스타일 */
.header-utils .btn-login {
    display: inline-block;
    margin-left: 15px;
    color: var(--font-medium);
}

/* content */
main {
    /* 아래 여백 */
    padding-bottom: 80px;
}
.sec {
    /* 위쪽 여백 추가 */
    padding-top: 170px;
}
/* 영역 아래 선 추가 */
.title {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--bg-line);
}
/* 제목 텍스트 스타일 */
.title b {
    display: inline-block;
    /* 위치 기준값 */
    position: relative;
    padding-bottom: 16px;
    color: var(--point-color);
    font-size: 1.8rem;
    font-weight: 500;
}
/* 가상요소로 아래 텍스트 너비 선 추가 */
.title b::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    background-color: var(--point-color);
}

/* 공통 영역 project ul>li 구조로 작성 */
.project-list > li {
    /* 아래 여백 */
    padding-bottom: 200px;
}
/* li 첫번째가 아닌 요소에 스타일 아래 여백과 선  */
.project-list > li:not(:first-child) {
    padding-top: 60px;
    border-top: 1px solid var(--bg-line);
}
/* 이미지 너비 조정 */
.project .img img {
    width: 100%;
}
/* 텍스트,리스트,테이블 영역 */
.project .infomation {
    /* 위쪽 바깥 여백  */
    margin-top: 50px;
}
/* 텍스트 스타일 아래 바깥여백 */
.infomation h3 {
    margin-bottom: 26px;
    color: var(--point-color);
    font-size: 2rem;
}
/* 제목 숫자 */
.infomation h3 b {
    display: inline-block;
    /* 위치 기준값 */
    position: relative;
    margin-right: 15px;
    padding-right: 15px;
    font-weight: 600;
}
/* 가상요소로 텍스트 사이 경계선 추가 */
.infomation h3 b::after {
    content: "";
    /* 위치 설정 */
    position: absolute;
    right: 0;
    top: 50%;
    width: 2px;
    height: 18px;
    background-color: var(--point-color);
    /* 위치 조정 */
    transform: translateY(-50%);
}
.infomation h3 span {
    font-weight: 600;
}
.infomation > em {
    color: var(--font-low);
    font-style: normal;
}
.infomation .explain {
    /* 텍스트 위쪽 여백 */
    margin-top: 28px;
}
/* 리스트 컨텐츠 스타일 */
.infomation .details > li {
    /* 위치 기준값 */
    position: relative;
    margin-top: 28px;
    padding-left: 20px;
    color: var(--font-medium);
}
/* 가상요소로 리스트 사각형 추가 */
.infomation .details > li::before {
    content: "";
    /* 위치 설정 */
    position: absolute;
    left: 2px;
    top: 4px;
    width: 8px;
    height: 8px;
    border: 1px solid #030303;
    background: #383838;
}
/* 테이블 내용 dl>dt+dd 사용 */
.infomation > dl {
    /* 가로 배치 플렉스 */
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    /* 경계선 */
    border-left: 1px solid var(--bg-line);
    border-top: 1px solid var(--bg-line);
}
.infomation > dl dt {
    /* 너비값 */
    width: 30%;
    /* 텍스트 정렬 */
    text-align: center;
    padding: 18px;
    /* 경계선 */
    border-right: 1px solid var(--bg-line);
    border-bottom: 1px solid var(--bg-line);
    background: #fafafa;
}
.infomation > dl dd {
    /* 너비값 */
    width: 70%;
    padding: 18px;
    /* 텍스트 정렬 */
    text-align: center;
    border-right: 1px solid var(--bg-line);
    border-bottom: 1px solid var(--bg-line);
}
/* 기획서 보기, 코딩 사이트 보기 버튼 */
.project .btns {
    /* 플렉스 가로배치 */
    display: flex;
    flex-wrap: nowrap;
    margin-top: 60px;
}
/* 버튼  */
.project .btns > a {
    /* flex: 1 1 50%;
    flex-grow 1 : 플렉스 아이템 컨테이너 크기에 맞게 커짐 
    flex-shrink 1 : 플렉스 아이템 컨테이너 크기에 맞게 작아짐
    flex-basis 50%: 플렉스 아이템 기본크기 결정(50%로 고정)
    
    */
    flex: 1 1 50%;
    /* 위치 기준값 */
    position: relative;
    height: 70px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    /* 텍스트 Y축 정렬 */
    line-height: 70px;
    background: var(--point-color);
    /* 트랜지션 */
    transition: all 100ms;
}
/* hover시 스타일 변경 */
.project .btns > a:hover {
    padding: 2px 0 0 2px;
    box-shadow: inset 2px 4px 6px rgba(0,0,0,0.2);
}
/* 가상요소 사용해 가운데 경계선 추가 */
/* 첫번째가 아닌 요소 앞에 추가 */
.project .btns > a:not(:first-child)::before {
    content: "";
    /* 위치 설정 */
    position: absolute;
    left: 0;
    top: 50%;
    /* 경계선 너비값 */
    width: 1px;
    /* 높이값 */
    height: 30px;
    /* 위치 조정 */
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.2);
}

/* footer */
/* 전체 영역 스타일 */
footer {
    color: #fff;
    background: #000;
}
/* 푸터 메인 영역 스타일 */
.footer-main {
    /* 위아래 여백 */
    padding-top: 60px;
    padding-bottom: 70px;
}
.footer-info {
    /* 박스, 버튼, 사이트 아이콘 가로배치 */
    /* 플렉스 */
    display: flex;
}
/* 박스 스타일 */
.footer-info .family-site {
    /* 위치 기준값 */
    position: relative;
    z-index: 1;
}
/* label, ul>li 형태의 박스  스타일*/
.footer-info .family-site .btn-family,
.footer-info .family-site a {
    height: 47px;
    padding: 13px 15px 0;
    /* 경계선 */
    border: 1px solid #fff;
    /* 투명도 */
    opacity: 0.5;
    /* 트랜지션 */
    transition: all 300ms;
}
/* label 스타일링 */
.footer-info .family-site .btn-family {
    /* 배치 */
    display: inline-block;
    /* 위치 설정 */
    position: relative;
    width: 224px;
    cursor: pointer;
}
/* 가상요소로 화살표 추가 */
.footer-info .family-site .btn-family::after {
    content: "";
    /* 위치 설정 */
    position: absolute;
    right: 19px;
    top: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    /*  이미지 추가 */
    background: url(../images/icon_arrow_down.png) no-repeat center center;
    background-size: contain;
    /* 트랜지션 클릭 시 화살표 회전*/
    transition: all 300ms;
}
/* hover 시 컨텐츠 투명도 변경*/
.footer-info .family-site .btn-family:hover,
.footer-info .family-site a:hover {
    opacity: 1;
    z-index: 10;
}
/* hover시 화살표 투명도 변경 */
.footer-info .family-site .btn-family:hover::after {
    opacity: 1;
}
/* ul 리스트(클릭 시 보이는 리스트) 스타일 */
.footer-info .family-list {
    /* 안보이도록 */
    display: none;
    /* 위치 설정 */
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    background: #000;
}
.footer-info .family-list > li {
    margin-bottom: -1px;
}
.footer-info .family-list a {
    /* 보이도록 설정 */
    display: block;
    /* 위치 설정 */
    position: relative;
    width: 100%;
}
/* 체크박스 체크되면 화살표 회전 */
#chk_family:checked + .btn-family::after {
    transform: rotateZ(-180deg);
}
/* 체크박스 체크되면 리스트 보이도록 */
#chk_family:checked ~ .family-list {
    display: block;
}

.footer-info .btn-help {
    width: 24px;
    height: 24px;
    margin: 12px 0 0 12px;
    background: url(../images/icon_question.png) no-repeat center center;
    background-size: contain;
    opacity: 0.5;
    transition: all 300ms;
}
/* 물음표 버튼 hover 시 투명도 변경 */
.footer-info .btn-help:hover {
    opacity: 1;
}
/* 아이콘 스타일 */
.footer-info .sns {
    /* 가로배치 */
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
}
/* 가상요소로 아이콘 사이 점 추가 */
.footer-info .sns > li:not(:first-child)::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 13px 15px 0;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.3);
}
/* 아이콘 hover 시 투명도 조정  */
.footer-info .sns a {
    opacity: 0.5;
    /* 트랜지션 */
    transition: opacity 300ms;
}
/* hover시 투명도 1 : 완전 불투명*/
.footer-info .sns a:hover {
    opacity: 1;
}
/* 신고하기 스타일링 */
footer .btn-declaration {
    /* 화면 표시 변경 */
    display: inline-block;
    margin-top: 30px;
    padding-right: 12px;
    /* 화살표 이미지 추가 */
    background: url(../images/icon_arrow_right.png) no-repeat right center;
    background-size: 8px auto;
    opacity: 0.5;
    /* 트랜지션 */
    transition: opacity 300ms;
}
/* 신고하기 호버 시 완전 불투명 */
footer .btn-declaration:hover {
    opacity: 1;
}
/* 신고하기 아래 밑줄 */
footer .btn-declaration span {
    text-decoration: underline;
}
/* 가장 아래 영역 스타일 */
footer .footer-sub {
    height: 60px;
    color: #888;
    font-size: 1.2rem;
    font-weight: 500;
    background: #111;
}
footer .footer-sub .inner {
    /* 요소 가로 배치 */
    display: flex;
    /* 양 끝에 붙도록 */
    justify-content: space-between;
    /* 플렉스 아이템 가운데 정렬 */
    align-items: center;
    height: 100%;
}
/* 영역 안의 모든 요소들 가운데 정렬 */
footer .footer-sub .inner > * {
    vertical-align: middle;
}
/* 링크에 아래 선 */
footer .footer-sub a {
    color: #888;
    text-decoration: underline;
}
/* 마지막 카피 스타일 */
footer .copy {
    color: #444;
    font-weight: 800;
}