@charset "UTF-8";
body{
    font-size: 14px;
    line-height: 1.4;
    color: #111;
    background-color: #000;
}

#wrap{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
}
/* Header */
h1 img{
    width: 80px;
}
.menu ul li{
    display: inline-block;
    margin: 20px;
}
.menu ul li a:hover{
    color: red;
    background-color: yellow;
}

/* Contents */
section>h2{
    font-family: "Oswald" , sans-serif;
    font-size: 3rem;
    margin: 50px 0;
}
fieldset{
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}
/* footer */
footer{
    background-image: url(../images/waterboom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 120px;
}
footer p{
    font-size: 24px;
    font-weight: 700;
    line-height: 120px;
}

/* 추가 작업*/
main>section{
    margin-bottom: 36px;
}